.payload {
  padding: 40px 60px;
  min-height: 250px;

  display: flex;
  flex-wrap: wrap;

  text-align: center;

  &_empty {
    background: #f9F9F9 no-repeat center;
    background-image: data-uri('image/svg+xml;charset=UTF-8', "img/payload-back.svg");
  }

  &__image-wrapper {
    position: relative;
    margin: 10px;
    height: 200px;
    border: 2px solid transparent;

    img { height: 100%;}

    &_active {

      &:before {
        content: "";
        position: absolute;
        height: 20px;
        width: 20px;
        background: #262626;
        transform: rotate(45deg);
        bottom: -32px;
        left: calc(50% - 10px);
      }
      border: 2px solid #00E086;
      margin-bottom: 730px;
    }
  }
}